services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_container
    restart: always
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    depends_on:
      - postgres
    networks:
      - shared_network
  postgres:
    image: postgres:16
    container_name: postgres_container
    restart: unless-stopped
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - shared_network

volumes:
  pgdata:

networks:
  shared_network: {}